<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!!{% endblock %}</title>

    <!-- Le styles -->
    <link href="/frontend/plastique/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="/frontend/plastique/javascripts/html5shiv.js" type="text/javascript"></script>
    <script src="/frontend/plastique/javascripts/excanvas.js" type="text/javascript"></script>
    <script src="/frontend/plastique/javascripts/iefix.js" type="text/javascript"></script>
    <link href="/frontend/plastique/stylesheets/iefix.css" media="screen" rel="stylesheet" type="text/css"/>
    <![endif]-->

    <link href="/css/styles_main.css" media="screen" rel="stylesheet" type="text/css"/>

    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

    <script src="frontend/bower_components/jquery/jquery.min.js"></script>

    {% block stylesheets %}{% endblock %}
    <!-- Bootstrap -->
    {% block javascripts_header %}{% endblock %}

    <style type="text/css">
        nav#primary {
            width: 130px;
        }
    </style>
</head>
<body *id="main_container">
    <div id="main_container">

        {% block body %}{% endblock %}
    </div>

{% verbatim %}
    <script type="text/html" id="template-notification">
        <div class="notification animated fadeInLeftMiddle fast<%=item.itemClass %>">
            <div class="left">
                <div style="background-image: url(<%=item.imagePath %>)" class="<%=item.imageClass %>"></div>
            </div>
            <div class="right">
                <div class="inner"><%=item.text %><div>
                <div class="time"><%=item.time %></div>
            </div>

            <i class="icon-remove-sign hide"></i>
        </div>
    </script>
    <script type="text/html" id="template-notifications">
        <div class="container">
            <div class="row" id="notifications-wrapper">
                <div id="notifications" class="<%=bootstrapPositionClass %> notifications animated">
                    <div id="dismiss-all" class="dismiss-all button blue">Dismiss all</div>
                    <div id="content">
                        <div id="notes"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>

{% endverbatim %}

    {% javascripts '@bootstrap_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts_footer %}{% endblock %}
    <script src="/frontend/plastique/javascripts/notification.js" type="text/javascript"></script>
    <script src="/frontend/plastique/javascripts/notifications.js" type="text/javascript"></script>

    <script src="/frontend/plastique/javascripts/prettify.js" type="text/javascript"></script>
    <link href="/frontend/plastique/stylesheets/prettify.css" media="screen" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        prettyPrint()
    </script>

</body>
</html>
