<div class="box">
    <div class="tab-header">
        <%=i18n.title%>
    </div>

    <div>
        <div class="padded">
            <table class="table">
                <thead>
                <tr>
                    <th width="100"><%=i18n.date%></th>
                    <th width="100"><%=i18n.spendings%></th>
                    <th><%=i18n.description%></th>
                    <th width="150"><%=_i18n.actions.title%></th>
                </tr>
                </thead>
                <tbody>
                <%model.each(function(spending){%>
                <tr>
                    <td><%=spending.get('date')%></td>
                    <td><%=spending.get('value')%></td>
                    <td><%=spending.get('description')%></td>
                    <td>
                        <button class="button red mini j-remove" data-id="<%=spending.id%>"><i class="icon-trash"></i> <%=_i18n.actions.delete%></button>
                    </td>
                </tr>
                <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>