<%var fields = [];%>
<%_(model.defaults).each(function(attr, key){%>
<%if(view.options.exclude && _(view.options.exclude).contains(key)) return;
fields.push(key);
});%>

<%if(view.options.drawAsWindow){%>
<div id="modal" class="black-box modal hide fade">
    <div class="modal-header tab-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span><%=model%></span>
    </div>
    <div class="modal-body separator">
<%};%>
<table class="table table-striped table-bordered box">
    <%if(!view.options.drawAsWindow){%>
    <thead>
        <tr>
            <th colspan="2"><%=model%></th>
        </tr>
    </thead>
    <%};%>
    <tbody>
        <%_(fields).each(function(key){%>
            <%if(view.options.exclude && _(view.options.exclude).contains(key)) return;%>
            <%var attr = model.get(key);%>
            <tr>
                <th><%if(view.options.translations && view.options.translations[key]){%><%=view.options.translations[key]%><%}else{%><%=key%><%}%></th>
                <td>
                    <%if(view.options.fields && view.options.fields[key]){%>
                        <%if(view.options.fields[key].getter){
                        attr = model[view.options.fields[key].getter]();
                        };%>
                        <%switch(view.options.fields[key].type){
                            case "enum":%>
                                <select style="width:400px" name="<%=key%>" data-data-attr="<%=key%>" class="j-data">
                                    <%_(view.options.fields[key].values).each(function(text, value){%>
                                        <option value="<%=value%>" <%if(value == attr){%>selected="selected"<%};%>><%=text%></option>
                                    <%});%>
                                </select>
                            <%break;
                            case "entity_multi":
                                if(view.options.fields[key].getter){
                                    attr = model[view.options.fields[key].getter]();
                                };
                                var collection = app.collection(view.options.fields[key].entityType);
                            %>
                            <select multiple="multiple" style="width:100%" name="<%=key%>" data-data-attr="<%=key%>" class="j-data">
                                <%collection.each(function(entity){%>
                                <option value="<%=entity.id%>" <%if( attr.indexOf(entity) != -1){%>selected="selected"<%};%>><%=entity%></option>
                                <%});%>
                            </select>
                            <%break;
                            case "entity":
                            if(view.options.fields[key].getter){
                            attr = model[view.options.fields[key].getter]();
                            };
                            var collection = app.collection(view.options.fields[key].entityType);
                            %>
                            <select style="width:100%" name="<%=key%>" data-data-attr="<%=key%>" class="j-data">
                                <%if(view.options.fields[key].nullable){%>
                                <option value="">---</option>
                                <%};%>
                                <%collection.each(function(entity){%>
                                <option value="<%=entity.id%>" <%if( attr == entity ){%>selected="selected"<%};%>><%=entity%></option>
                                <%});%>
                            </select>
                            <%break;
                            case "text":%>
                                <textarea name="<%=key%>" class="j-data" data-data-attr="<%=key%>" rows="3" cols="60"><%=attr%></textarea>
                            <%break;
                            default:%>
                                <input type="text" name="<%=key%>" class="j-data" data-data-attr="<%=key%>" value="<%=attr%>"/>
                                <%if(key == 'salary'){%>
                                    Net: <span class="j-salary-net"><%=(parseFloat(attr)/0.87)%></span>
                                <%};%>
                            <%break;
                        }%>
                    <%}else{%>
                        <%if(key == 'salary'){%>
                            <span>Gross:</span>
                        <%};%>
                        <input type="text" name="<%=key%>" class="j-data" data-data-attr="<%=key%>" value="<%=attr%>"/>
                        <%if(key == 'salary'){%>
                            <br/>
                            <span> Net: </span><input type="text" class="j-salary-net" readonly="readonly" value="<%=_.currencyFormat(parseFloat(attr) * 0.87)%>" />
                        <%};%>
                    <%}%>
                </td>
            </tr>
            <%});%>
    </tbody>
    <%if(!view.options.drawAsWindow){%>
        <tfoot>
        <tr>
            <td colspan="2" class="j-buttons">
                <a class="button j-cancel j-nav" href="<%=model.linkTo('show')%>"><i class="icon-remove"></i> <%=_i18n.actions.cancel%></a>
                <button class="button j-save green"><i class="icon-ok"></i> <%=_i18n.actions.save%></button>
            </td>
        </tr>
        </tfoot>
    <%};%>
</table>
<%if(view.options.drawAsWindow){%>
    </div>
    <div class="modal-footer">
        <div class="inner-well j-buttons">
            <a class="button mini rounded light-gray" data-dismiss="modal"><%=_i18n.actions.cancel%></a>
            <button class="button j-save mini rounded blue"><i class="icon-ok"></i> <%=_i18n.actions.save%></button>
        </div>
    </div>
</div>
<%};%>