<table class="table table-striped table-bordered box">
    <thead>
        <tr>
            <th colspan="2">Проекты</th>
        </tr>
    </thead>
    <tbody>
    <%report.each(function(projectReport){%>
    <tr>
        <td><%=projectReport.get('title')%></td>
        <td>
            <%_(projectReport.get('dates')).each(function(date){%>
            <p>
                <%if(date.start){%>
                <%=date.start%>
                <%}else{%>
                с начала времен
                <%}%>
                -
                <%if(date.end){%>
                    <%=date.end%>
                <%}else{%>
                    по настоящее время
                <%}%>
            </p>
            <%});%>
        </td>
    </tr>
    <%});%>
    </tbody>
</table>