<%
var projects = app.collection('projects');
var employees = app.collection('employees');
%>
<div class="box">
    <div class="tab-header">
        Занятость персонала
    </div>

    <div class="">

        <table class="employee-involvement-table *table-bordered">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <%projects.each(function(project){%>
                        <th class="project-title">
                            <div class="b-table-cell__in">
                                <div class="b-table-cell__in-2">
                                <%=project%>
                                </div>
                            </div>
                        </th>
                    <%});%>
                </tr>
            </thead>
            <tbody>
                <%employees.each(function(employee){
                    var employeeProjects = employee.projects();
                    %>
                    <tr>
                        <td><%=employee%></td>
                        <%projects.each(function(project){%>
                        <td class="project-data">
                            <%if(employeeProjects.indexOf(project) != -1){%>
                                <%=employee.involvement(project)%>
                            <%}else{%>
                                &nbsp;
                            <%};%>
                        </td>
                        <%});%>
                    </tr>
                <%});%>
            </tbody>
        </table>

    </div>
</div>