<div class="container-fluid">
    <div class="row-fluid">
        <div class="box">
            <div class="tab-header">
                <%=i18n.title%>
            </div>

            <div>
                <div class="padded" style="padding-bottom: 5px; padding-top: 5px;">
                    <img src="http://gravatar.com/avatar/<%=app.user.gravatarHash%>" class="pull-left" style="margin-right: 10px;">
                    <p><%=i18n.hello%> <b><%=app.user.login%></b>! </p>
                    <p><%=i18n.regionsAvailable%> <%=_(app.user.availableRegions).chain().map(function(regionId){
                        return app.collection('regions').get(regionId).get('title');}).value().join(', ')%>
                    </p>
                    <p><%=i18n.lookAtReport%></p>
                </div>

            </div>
        </div>        
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="box">
                <div class="tab-header"><%=i18n.freeResourcesTitle%></div>
                <div>
                    <table class="table">
                        <tr>
                            <th><%=i18n.name%></th>
                            <th><%=i18n.specialization%></th>
                            <th><%=i18n.freetime%></th>
                        </tr>
                        <%app.collection('employees').each(function(employee){%>
                            <%if(!employee.freetime()) return;%>
                        <tr>
                            <td><%=employee%></td>
                            <td><%=employee.occupations()%></td>
                            <td><%=employee.freetime()%></td>
                        </tr>
                        <%});%>
                    </table>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="black-box">
                <div class="tab-header"><%=i18n.warning%></div>
                <div class="padded">
                    <%=i18n.todo%>
                </div>
            </div>
        </div>
    </div>
</div>