<div class="box">
    <div class="tab-header">
        Box title
      <span class="pull-right">
          <span class="options">
            <div class="btn-group">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
                <ul class="dropdown-menu black-box-dropdown dropdown-left">
                    ...
                </ul>
            </div>
          </span>
      </span>
    </div>

    <div>
        <div class="padded"> your awesome content here</div>
    </div>
</div>